<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>账户管理/用户管理</title>

  <link rel="stylesheet" href="../../../../../assets/libs/element/index.css">
  <link rel="stylesheet" href="AccountManageUser.css">
</head>
<body>
<div id="app" v-cloak>
  <el-row :gutter="10" style="margin: 20px;" >
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
    </el-breadcrumb>
  </el-row>

  <el-row :gutter="10" style="margin: 10px">

    <el-col :span="24">
      <el-card class="box-card">
        <template>
          <div style="margin-bottom: 20px">
            <el-form :inline="true" :model="query" class="demo-form-inline" method="post" >
              <el-form-item label="用户名称:">
                <el-input v-model="query.name" placeholder="请输入关键字"></el-input>
              </el-form-item>
              <el-form-item label="登录账号：">
                <el-input v-model="query.account" placeholder="请输入关键字"></el-input>
              </el-form-item>

              <el-form-item>
                <el-button type="primary" @click="checkFormData()">查询</el-button>
                <el-button type="primary" @click="addUser" icon="el-icon-user">新建用户</el-button>
                <!-- 新增角色管理按钮 -->
                <el-button type="success" @click="openRoleManager" icon="el-icon-s-tools">角色管理</el-button>
              </el-form-item>
            </el-form>

          </div>
          <el-table
              ref="multipleTable"
              :data="tableData"
              tooltip-effect="dark"
              style="width: 100%">
            <el-table-column prop="username" label="用户名称" ></el-table-column>
            <el-table-column prop="account" label="登录账号" ></el-table-column>
            <el-table-column prop="role" label="角色">
              <template slot-scope="scope">
                {{ getRoleNameById(scope.row.role) }}
              </template>
            </el-table-column>
            <!--              <el-table-column prop="teamName" label="团队名称" ></el-table-column>-->
            <el-table-column label="操作" >
              <template slot-scope="scope">
                <!-- 编辑按钮：当账号为"account"时禁用 -->
                <el-button
                    type="text"
                    @click="handleEdit(scope.row)"
                    :disabled="scope.row.account === 'account'">
                  编辑
                </el-button>
                <el-button type="text" @click="handleResetPassword(scope.row)">修改密码</el-button>
<!--                <el-button type="text" @click="assignRoles(scope.row)" :disabled="scope.row.role === '0'">分配角色</el-button>-->
                <el-button
                    type="text"
                    @click="delopen(scope.row)"
                    :disabled="scope.row.account === 'account'">
                  删除
                </el-button>
              </template>

            </el-table-column>
          </el-table>
          <el-pagination
              background
              layout="total, sizes, prev, pager, next, jumper"
              :total="count"
              @current-change="handleCurrentChange"
              @size-change="handleSizeChange"
              :page-sizes="[5,10,20]"
              :current-page="currentPage"
              :page-size="pageSize"
              style="text-align: center">
          </el-pagination>

          <el-dialog :title="addUserTitle" :visible.sync="addUserDialog" width="50%" >
            <el-form ref="addform" :model="addform" label-width="100px" :rules="rules1" style="">
              <el-form-item label="用户名称:" prop="username" style="">
                <el-input v-model="addform.username"></el-input>
              </el-form-item>
              <el-form-item label="登录账号:" v-if="isshow=='1'" prop="account" style="">
                <el-input v-model="addform.account"></el-input>
              </el-form-item>
              <!--                <div style="margin-left:150px;display: flex; align-items: center; ">-->
              <el-form-item label="登录密码:" v-if="isshow=='1'" prop="password"  style="">

                <el-input
                    v-model="addform.password"
                    type="password"
                    show-password
                    autocomplete="off"
                    placeholder="请输入8-20位字符，至少包含数字、大/小写字母、特殊字符中的两种"
                    style="width: 100%;"
                ></el-input>


              </el-form-item>
              <!--                <el-progress-->
              <!--                        v-if="passwordPercent > 0"-->
              <!--                        :percentage="passwordPercent"-->
              <!--                        :color="customColors"-->
              <!--                        :format="formatPasswordStrength"-->
              <!--                        :stroke-width="5"-->
              <!--                        style="flex: 1;max-width:200px"-->
              <!--                ></el-progress>-->
              <!--               </div>-->
              <el-form-item label="确认密码:" v-if="isshow=='1'" prop="confirmPassword" style="">
                <el-input v-model="addform.confirmPassword" type="password" show-password autocomplete="off" placeholder="请再次输入密码"></el-input>
              </el-form-item>
              <!-- 添加角色选择表单项 -->
              <el-form-item label="分配角色:" prop="selectedRoleId">
                <el-select
                    v-model="addform.selectedRoleId"
                    placeholder="请选择角色"
                    style="width: 100%">
                  <el-option
                      v-for="role in roleOptions"
                      :key="role.id"
                      :label="role.roleName"
                      :value="role.id">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="createUser()" v-if="isshow=='1'">立即创建</el-button>
                <el-button type="primary" @click="editUser()" v-else-if="isshow=='2'" >更新</el-button>
                <el-button @click="addUserDialog = false">取消</el-button>
              </el-form-item>
            </el-form>
          </el-dialog>

          <el-dialog title="修改密码" :visible.sync="pwdDialog" width="50%" >
            <el-form ref="changeform" :model="changeform" label-width="100px" :rules="rules2">
              <el-form-item label="原密码:"  prop="pwd">
                <el-input v-model="changeform.pwd" ></el-input>
              </el-form-item>
              <el-form-item label="输入新密码:" prop="passNew">
                <el-input v-model="changeform.passNew" type="password" show-password placeholder="请输入8-20位字符，至少包含数字、大/小写字母、特殊字符中的两种" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="确认新密码:" prop="checkPassNew">
                <el-input v-model="changeform.checkPassNew" type="password" show-password autocomplete="off"></el-input>
              </el-form-item>

              <el-form-item>
                <el-button type="primary" @click="changePwd()">确定修改</el-button>
                <el-button @click="reset('changeform')">重置</el-button>
              </el-form-item>
            </el-form>
          </el-dialog>

          <!-- 新增角色管理对话框 -->
          <el-dialog
              title="角色管理"
              :visible.sync="roleDialogVisible"
              width="70%"
              class="role-dialog"
              :close-on-click-modal="false">
            <div class="role-header">
              <el-button type="primary" icon="el-icon-plus" @click="openCreateRoleDialog" style="margin-bottom: 10px;">新建角色</el-button>
<!--              <el-input-->
<!--                  v-model="roleSearch"-->
<!--                  placeholder="搜索角色"-->
<!--                  style="width: 200px;"-->
<!--                  clearable-->
<!--                  @clear="loadRoles"-->
<!--                  @keyup.enter.native="searchRoles">-->
<!--                <el-button slot="append" icon="el-icon-search" @click="searchRoles"></el-button>-->
<!--              </el-input>-->
            </div>

            <el-table :data="filteredRoles" border style="width: 100%">
<!--              <el-table-column prop="roleId" label="角色ID" width="120"></el-table-column>-->
              <el-table-column prop="roleName" label="角色名称"></el-table-column>
              <el-table-column label="权限菜单">
                <template slot-scope="scope">
                  <div style="display: flex; flex-wrap: wrap;">
                    <!-- 遍历 menuIds 并显示对应的菜单名称 -->
                    <el-tag
                        v-for="menuId in scope.row.menuIds"
                        :key="menuId"
                        size="small"
                        type="info"
                        class="role-tag">
                      {{ getMenuName(menuId) }}
                    </el-tag>
                  </div>
                </template>
              </el-table-column>
              <el-table-column label="操作" width="200">
                <template slot-scope="scope">
                  <!-- 权限配置按钮：当角色ID为1时禁用 -->
                  <el-button
                      size="mini"
                      type="primary"
                      @click="editRolePermissions(scope.row)"
                      :disabled="scope.row.id === 1"> <!-- 新增禁用条件 -->
                    权限配置
                  </el-button>
                  <!-- 删除按钮：当角色ID为1时禁用 -->
                  <el-button
                      size="mini"
                      type="danger"
                      @click="deleteRole(scope.row)"
                      :disabled="scope.row.id === 1"> <!-- 修改为仅基于ID禁用 -->
                    删除
                  </el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-dialog>
          <!-- 创建/编辑角色对话框 -->
          <el-dialog
              :title="roleFormTitle"
              :visible.sync="roleFormVisible"
              width="50%"
              :close-on-click-modal="false">
            <el-form ref="roleForm" :model="currentRole" label-width="100px" class="role-form">
<!--              <el-form-item label="角色ID" prop="roleId" :rules="[{ required: true, message: '请输入角色ID', trigger: 'blur' }]">-->
<!--                <el-input v-model="currentRole.roleId" :disabled="isEditingRole"></el-input>-->
<!--              </el-form-item>-->
              <el-form-item label="角色名称" prop="roleName" :rules="[{ required: true, message: '请输入角色名称', trigger: 'blur' }]">
<!--                <el-input v-model="currentRole.roleName"></el-input>-->
                <!-- 添加 :disabled 属性，编辑时禁用输入 -->
                <el-input v-model="currentRole.roleName" :disabled="isEditingRole"></el-input>
              </el-form-item>
              <el-form-item label="权限菜单">
                <div class="permission-tree">
                  <el-tree
                      ref="permissionTree"
                      :data="allMenus"
                      show-checkbox
                      node-key="id"
                      :default-expanded-keys="defaultExpandedKeys"
                      :props="menuProps">
                  </el-tree>
                </div>
              </el-form-item>
              <el-form-item>
                <div class="role-actions">
                  <el-button type="primary" @click="saveRole">{{ isEditingRole ? '更新权限' : '创建' }}</el-button>
                  <el-button @click="roleFormVisible = false">取消</el-button>
                </div>
              </el-form-item>
            </el-form>
          </el-dialog>

<!--          &lt;!&ndash; 分配角色给用户的对话框 &ndash;&gt;-->
<!--          <el-dialog-->
<!--              title="分配角色"-->
<!--              :visible.sync="assignRoleDialogVisible"-->
<!--              width="40%"-->
<!--              :close-on-click-modal="false">-->
<!--            <el-form :model="assignRoleForm" label-width="100px">-->
<!--              <el-form-item label="用户账号">-->
<!--                <el-input v-model="assignRoleForm.account" disabled></el-input>-->
<!--              </el-form-item>-->
<!--              <el-form-item label="用户姓名">-->
<!--                <el-input v-model="assignRoleForm.username" disabled></el-input>-->
<!--              </el-form-item>-->
<!--              <el-form-item label="分配角色">-->
<!--                <el-checkbox-group v-model="assignRoleForm.selectedRoles">-->
<!--                  <el-checkbox-->
<!--                      v-for="role in availableRoles"-->
<!--                      :key="role.roleId"-->
<!--                      :label="role.roleId"-->
<!--                      :disabled="role.roleId === '0'">-->
<!--                    {{ role.roleName }}-->
<!--                  </el-checkbox>-->
<!--                </el-checkbox-group>-->
<!--              </el-form-item>-->
<!--              <el-form-item>-->
<!--                <div class="role-actions">-->
<!--                  <el-button type="primary" @click="saveUserRoles">保存</el-button>-->
<!--                  <el-button @click="assignRoleDialogVisible = false">取消</el-button>-->
<!--                </div>-->
<!--              </el-form-item>-->
<!--            </el-form>-->
<!--          </el-dialog>-->

        </template>
      </el-card>

    </el-col>
  </el-row>


  </div>

  <script src="../../../../../assets/libs/vue/vue.js"></script>
  <script src="../../../../../assets/libs/element/index.js"></script>
  <script src="../../../../../assets/libs/echarts/echarts.min.js"></script>
  <script src="../../../../../assets/libs/jquery-1.11.3.min.js"></script>
    <script src="../../../../../assets/js/mainData.js"></script>
  <script src="AccountManageUser.js"></script>
</body>
</html>