* {
    margin: 0;
    padding: 0;
}


.loginDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
    width: 600px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 2%;

}
.login-title {
    margin: 40px 0 30px 0;
    text-align: center;
}
.login-content {
    width: 600px;
/*    height: 250px;*/
/*    position: absolute;*/
/*    top: 25px;*/
/*    left: 25px;*/
}